
<form action="/payment/results">
<div><label for="apr_input">APR</label> <!-- double check -->
<input id="apr_input" type="text" placeholder="E.G. 5.42" name="dinero"></div>



<div><label for="years_input">Number of years</label>
<input id="years_input" type="text" placeholder="How many years to repa...???" name="dinero1"></div>



<div><label for="principal_input">principal</label>
<input id="principal_input" type="text" placeholder="How much principal?" name="abc"></div>
<button>Calculate monthly payment</button>
</form>
