<form action="/random/results">
<div><label for="user_min">Minimum</label>
<input id="user_min" type="text" placeholder="E.g. 1.5" name="minimum"></div>

<div><label for="user_max">Maximum</label>
<input id="user_max" type="text" placeholder="E.g. 4.5" name="maximum"></div>

<button>Pick random number</button>

</form>
