<h1>hello</h1>

<form action="/square_root/results">
  <label for="sqrroot">Enter a number</label> <!-- whats the label + word? -->
  <input id="sqrroot" type="text" placeholder="What number do you want to square root?" name="number"> <!-- what is the input + id&type -->
  <button>Calculate square root</button>
  </form>
